<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.5.min.css">
    <link rel="stylesheet" href="/static/css/mui.min.css">
    <link rel="stylesheet" href="/static/css/mui.picker.min.css">
    <link rel="stylesheet" href="/static/css/dialog_style.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/mui.min.js"></script>
    <script src="/static/js/mui.picker.min.js"></script>
    <script src="/static/js/bootstrap-3.3.5.min.js"></script>
    <script src="/static/js/dialog_view.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="dvheader">
    <div style="width: 20%; height: 100%;padding-left: 30px;">
        企业订单管理系统
    </div>
    <div id="homepage" class="item">
        <a th:href="@{/index}"><img src="/static/img/homepage.png" class="item_image"/></a>
        <span class="item_text">首页</span>
    </div>
    <div id="order" class="item">
        <a th:href="@{/form/manage}"><img src="/static/img/order.png" class="item_image"/></a>
        <span class="item_text">订单管理</span>
    </div>
    <div id="people" class="item">
        <a th:href="@{/emp/manage}"><img src="/static/img/people.png" class="item_image"/></a>
        <span class="item_text">人事管理</span>
    </div>
    <div id="business" class="item">
        <a th:href="@{/company/manage}"><img src="/static/img/business.png" class="item_image"/></a>
        <span class="item_text">公司管理</span>
    </div>
    <div style="text-align: right; width: 750px;">
        当前登录用户：[[${session.user.username}]] &nbsp;&nbsp;&nbsp;
        <a th:href="@{/quit}" style="color: #ffffff">退出</a> &nbsp;&nbsp;&nbsp;
        <a th:href="@{/user/updatePwd}" style="color: #ffffff">修改密码</a>
    </div>
</div>
<!-- content -->
<div class="content">
    <!-- 左边固定区域 -->
    <div class="leftContent">
        <div class="left_item_all">
            <div class="left_item">
                <div class="manageTitle">
                    <span>订单管理</span>
                </div>
                <div class="manageItem">
                    <a th:href="@{/form/list}"><span>订单查询</span></a>
                    <a th:if="${session.user.userType} ne 3" th:href="@{/form/add}"><span>订单添加</span></a>
                    <a th:if="${session.user.userType} ne 3" th:href="@{/form/manage}"><span>订单管理</span></a>
                </div>
                <div class="manageTitle">
                    <span>人事管理</span>
                </div>
                <div class="manageItem">
                    <a th:href="@{/emp/list}"><span>业务员查询</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/emp/add}"><span>业务员添加</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/emp/manage}"><span>业务员管理</span></a>
                </div>
                <div class="manageTitle">
                    <span>公司管理</span>
                </div>
                <div class="manageItem">
                    <a th:href="@{/company/list}"><span>公司查询</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/company/add}"><span>公司添加</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/company/manage}"><span>公司管理</span></a>
                </div>
                <div class="manageTitle" th:if="${session.user.userType} eq 1">
                    <span>系统用户管理</span>
                </div>
                <div class="manageItem" th:if="${session.user.userType} eq 1">
                    <a th:href="@{/user/manage}"><span>用户管理</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="rightContent" style="background: #ffffff; color: #000000; margin-left: 15px;">
        <form class="form-horizontal" role="form" th:action="@{/company/list/select}" method="post">
            <div class="form-group" style="height: 60px; margin-top: 50px">
                <label class="col-sm-3 control-label">公司关键字查询：</label>
                <div class="col-sm-6">
                    <input name="text" type="text" class="form-control" placeholder="关键字检索...">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" type="submit">查询</button>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>公司id</th>
                <th>公司名称</th>
                <th>公司简介</th>
                <th>交易次数</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="company:${companies}">
                <td>[[${company.companyId}]]</td>
                <td>[[${company.companyName}]]</td>
                <td>[[${company.companyIntroduction}]]</td>
                <td>[[${company.companyOrderFinishTime}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/index.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        var message = [[${msg}]];
        if (message != "" && message != null) {
            alert(message);
        }
    });
</script>
</body>
</html>
