<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.5.min.css">
    <link rel="stylesheet" href="/static/css/mui.min.css">
    <link rel="stylesheet" href="/static/css/mui.picker.min.css">
    <link rel="stylesheet" href="/static/css/dialog_style.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/mui.min.js"></script>
    <script src="/static/js/mui.picker.min.js"></script>
    <script src="/static/js/bootstrap-3.3.5.min.js"></script>
    <script src="/static/js/dialog_view.js"></script>
</head>
<body>
<!-- 头部 -->
<div class="dvheader">
    <div style="width: 20%; height: 100%;padding-left: 30px;">
        企业订单管理系统
    </div>
    <div id="homepage" class="item">
        <a th:href="@{/index}"><img src="/static/img/homepage.png" class="item_image"/></a>
        <span class="item_text">首页</span>
    </div>
    <div id="order" class="item">
        <a th:href="@{/form/manage}"><img src="/static/img/order.png" class="item_image"/></a>
        <span class="item_text">订单管理</span>
    </div>
    <div id="people" class="item">
        <a th:href="@{/emp/manage}"><img src="/static/img/people.png" class="item_image"/></a>
        <span class="item_text">人事管理</span>
    </div>
    <div id="business" class="item">
        <a th:href="@{/company/manage}"><img src="/static/img/business.png" class="item_image"/></a>
        <span class="item_text">公司管理</span>
    </div>
    <div style="text-align: right; width: 750px;">
        当前登录用户：[[${session.user.username}]] &nbsp;&nbsp;&nbsp;
        <a th:href="@{/quit}" style="color: #ffffff">退出</a> &nbsp;&nbsp;&nbsp;
        <a th:href="@{/user/updatePwd}" style="color: #ffffff">修改密码</a>
    </div>
</div>
<!-- content -->
<div class="content">
    <!-- 左边固定区域 -->
    <div class="leftContent">
        <div class="left_item_all">
            <div class="left_item">
                <div class="manageTitle">
                    <span>订单管理</span>
                </div>
                <div class="manageItem">
                    <a th:href="@{/form/list}"><span>订单查询</span></a>
                    <a th:if="${session.user.userType} ne 3" th:href="@{/form/add}"><span>订单添加</span></a>
                    <a th:if="${session.user.userType} ne 3" th:href="@{/form/manage}"><span>订单管理</span></a>
                </div>
                <div class="manageTitle">
                    <span>人事管理</span>
                </div>
                <div class="manageItem">
                    <a th:href="@{/emp/list}"><span>业务员查询</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/emp/add}"><span>业务员添加</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/emp/manage}"><span>业务员管理</span></a>
                </div>
                <div class="manageTitle">
                    <span>公司管理</span>
                </div>
                <div class="manageItem">
                    <a th:href="@{/company/list}"><span>公司查询</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/company/add}"><span>公司添加</span></a>
                    <a th:if="${session.user.userType} eq 1" th:href="@{/company/manage}"><span>公司管理</span></a>
                </div>
                <div class="manageTitle" th:if="${session.user.userType} eq 1">
                    <span>系统用户管理</span>
                </div>
                <div class="manageItem" th:if="${session.user.userType} eq 1">
                    <a th:href="@{/user/manage}"><span>用户管理</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="rightContent" style="background: #ffffff; color: #000000; margin-left: 15px ">
        <div style="margin-left: 50px; height: 800px; width: 500px; ">
            <div>录入订单</div>
            <form class="form-horizontal" role="form" th:action="@{/form/add}" method="post">
                <div class="form-group" style="height: 50px; margin-top: 50px;">
                    <label class="col-sm-3 control-label">订单内容</label>
                    <div class="col-sm-9">
                        <input name="formContent" type="text" class="form-control" placeholder="输入订单内容">
                    </div>
                </div>
                <div class="form-group" style="height: 50px;">
                    <label class="col-sm-3 control-label">订单状态</label>
                    <div class="form-check form-check-inline col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="formState" value="1">进行中
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="formState" value="2">已完成
                        </label>
                    </div>
                </div>
                <div class="form-group" style="height: 50px;">
                    <label class="col-sm-3 control-label">签署公司</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="formCompanyId">
                            <option th:each="company:${companies}" th:value="${company.companyId}"
                                    th:text="${company.companyId}+'  '+${company.companyName}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="height: 50px;">
                    <label class="col-sm-3 control-label">负责业务员</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="formEmployeeId">
                            <option th:each="employee:${employees}" th:value="${employee.employeeId}"
                                    th:text="${employee.employeeId}+'  '+${employee.employeeName}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="height: 50px;">
                    <div class="col-sm-12" style="text-align: center">
                        <button type="submit" class="btn btn-primary">添加</button>
                        <button type="reset" class="btn btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/index.js"></script>
</body>
</html>
